@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

body {
    font-family: "Source Code Pro", "Noto Sans TC", sans-serif;
    padding: 2rem;
    margin: 0;
    -webkit-text-size-adjust: 100%;
    background-color: rgb(40, 40, 40);
    color: blanchedalmond;
}

button {
    margin: 0.2rem;
    background-color: rgb(40, 40, 40);
    height: 4rem;
    width: 8rem;
    font-size: 1.8rem;
    color: rgb(255, 0, 128);
    border: 0;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.863), 4px -4px 5px rgb(116, 0, 58);
    outline: none;
}

button.lg {
    width: 12rem;
}

button.xl {
    width: 16rem;
}

button:hover {
    color: rgb(255, 214, 235);
    outline: none;
}

button:active {
    color: rgb(255, 214, 235);
    box-shadow: inset -4px 4px 4px rgba(0, 0, 0, 0.863), inset 4px -4px 5px rgb(116, 0, 58);
    outline: none;
}

.input-button {
    margin: 0.2rem;
    background-color: rgb(40, 40, 40);
    height: 4rem;
    width: 8rem;
    font-size: 1.3rem;
    color: rgb(255, 0, 128);
    border: 0;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.863), 4px -4px 5px rgb(116, 0, 58);
    outline: none;
}

.input-button.lg {
    width: 12rem;
}

.input-button > input[type="number"] {
    margin: 0;
    padding: 0;
    background-color: rgb(40, 40, 40);
    height: 1.3rem;
    width: 8rem;
    font-size: 1.3rem;
    color: rgb(255, 0, 128);
    border: 0;

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}

.input-button.lg > input[type="number"] {
    width: 12rem;
}

.input-button > button {
    padding: 0;
    margin: 0;
    height: 2rem;
    font-size: 1.3rem;
    box-shadow: 0;
}

.input-button.lg > button {
    width: 12rem;
}

hr.dashed {
    border: none;
    border-bottom: dashed;
}

input[type="range"] {
    outline: none;
    width: 20rem;
    height: 1rem;
}

a {
    color: rgb(255, 0, 102);
}
