<!DOCTYPE html>
<html>

<head>
    <style>
        @import url(./css/index.css);
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.7.0/dist/tf.min.js"></script>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g2/4.0.15/dist/g2.min.js"></script>
    <script src="https://rawgit.com/caldwell/renderjson/master/renderjson.js"></script>
    <script src="/src/index.js" defer></script>
</head>

<body>
    <h1>Q1</h1>
    <hr class="dashed" />

    <h2>(1) Corner Detection</h2>
    index : <input id="Q1-1-idx" type="number" min="1" max="15" value="1">
    <br />
    <canvas id=Q1-1-canvas style="width: 512px;"></canvas>

    <hr class="dashed" />

    <h2>(2) Find the Intrinsic Matrix</h2>
    <button id=Q1-2>Find</button>
    <p id=Q1-2-mtx></p>

    <hr class="dashed" />

    <h2>(3) Find the Extrinsic Matrix</h2>
    index : <input id="Q1-3-idx" type="number" min="1" max="15" value="1">
    <p id=Q1-3-mtx></p>

    <hr class="dashed" />

    <h2>(4) Find the Extrinsic Matrix</h2>
    <button id=Q1-4>Find</button>
    <p id=Q1-4-dist></p>

    <hr />

    <h1>Q2. Augmented Reality</h1>
    index : <input id="Q2-idx" type="number" min="1" max="5" value="1">
    <br />
    <canvas id=Q2-canvas style="width: 512px;"></canvas>

    <hr />

    <h1>Q3. Stereo Disparity Map</h1>
    <button id=Q3>Find</button>
    <br />
    <canvas id=Q3-canvas></canvas>

    <hr />

    <h1>Q4</h1>

    <hr class="dashed">

    <h2>(1) Keypoints</h2>
    <button id=Q4-1>Find</button>
    <br />
    <canvas id=Q4-1-canvas></canvas>

    <hr class="dashed">

    <h2>(2) Matching</h2>
    <button id=Q4-2>Find</button>
    <br />
    <canvas id=Q4-2-canvas></canvas>

    <hr />

    <h1>Q5</h1>

    <hr class="dashed">

    <h2>(1) Training Dataset</h2>
    <button id=Q5-1>Show</button>
    <br />
    <canvas id="Q5-1-canvas" width="0" height="0" style="width:100%"></canvas>
    <table style="width:100%;text-align:center;">
        <tbody>
            <tr>
                <td id="Q5-1-img-0" style="width:10%;"></td>
                <td id="Q5-1-img-1" style="width:10%;"></td>
                <td id="Q5-1-img-2" style="width:10%;"></td>
                <td id="Q5-1-img-3" style="width:10%;"></td>
                <td id="Q5-1-img-4" style="width:10%;"></td>
                <td id="Q5-1-img-5" style="width:10%;"></td>
                <td id="Q5-1-img-6" style="width:10%;"></td>
                <td id="Q5-1-img-7" style="width:10%;"></td>
                <td id="Q5-1-img-8" style="width:10%;"></td>
                <td id="Q5-1-img-9" style="width:10%;"></td>
            </tr>
        </tbody>
    </table>

    <hr class="dashed">

    <h2>(2) Show Hyperparameter</h2>
    <button id=Q5-2>Show</button>
    <br /><br />
    <div id=Q5-2-hyperparameter></div>

    <hr class="dashed">

    <h2>(3) Model Structure</h2>
    <button id=Q5-3>Show</button>
    <br /><br />
    <div id=Q5-3-model></div>

    <hr class="dashed">

    <h2>(4) Training Record</h2>
    <button id=Q5-4>Show</button>
    <br /><br />
    <div id=Q5-4-record></div>

    <hr class="dashed">

    <h2>(5) Test</h2>
    index : <input id=Q5-5 type=number value=0 min=0 max=9999>
    <br /><br />
    <canvas id="Q5-5-canvas" width="0" height="0" style="width:25%;image-rendering: pixelated;"></canvas>
    <br /><br />
    <div id="Q5-5-prediction"></div>
</body>

</html>